<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/sushi-icon" href="../Images/logo.png" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Import fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
 
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title class="header title">Skill-Fusion</title>
  </head>

  <body>
    <div id="root">
      <header>
        <div class="first-title__banner">
          <img src="../Images/logo.png" alt="Logo" class="title__logo">

          <h1 class="header-title">Skill Fusion</h1>

          <div class="burger-menu">
            <span class="burger-menu__line"></span>
            <span class="burger-menu__line"></span>
            <span class="burger-menu__line"></span>
          </div>

          <!-- Mobile Navigation Bar -->
          <div class="mobile__navbar">
            <button class="close-button">X</button>
            <ul>
              <li><input type="text" placeholder="Rechercher"></li>
              <li><a href="#">Accueil</a></li>
              <li><a href="#">Catalogue</a></li>
              <li><a href="#">Catégories</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Forum</a></li>
              <li><a href="#">Inscription</a></li>
              <li><a href="#">Connexion</a></li>
            </ul>
          </div> 

        </div>

        <div class="second-title__banner">
          <h1 class="header-title">Skill Fusion</h1>
        </div>

        <!-- Desktop Navigation Bar -->
        <div class="desktop__navbar">
          <ul>
            <li><input class="search-bar" type="text" placeholder="Rechercher"></li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Catalogue</a></li>
            <li><a href="#">Catégories</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Inscription</a></li>
            <li><a href="#">Connexion</a></li>
          </ul>
        </div> 
      </header>

      <main>
                       
        <section class="head-banner">
          <button class="new-topic-button main-button">recherche une catégorie</button>
          <h2>cours par cathégorie</h2>
        </section>

 <div class="media-button">
        <section class="home__articles">
          <button class="new-topic-button main-button">Créer un nouveau cours</button>
        
          
            <article class="lessons">
              <div class="box-lesson">
                <div class="box-lesson__title">
                  <h4>Changer un interrupteur ou une prise murale</h4>
                  <h5 class="category-tag">catégorie</h5>
                </div>
                <div class="box-lesson__img">
                  <img class="image-lesson" src="../Images/Photos/Perceuse à bois.jpg" alt="Perceuse">
                </div>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                </p>
              </div>

              <div class="box-lesson">
                <div class="box-lesson__title">
                  <h4>Changer un interrupteur ou une prise murale</h4>
                  <h5 class="category-tag">catégorie</h5>
                </div>
                <div class="box-lesson__img">
                  <img class="image-lesson" src="../Images/Photos/Perceuse à bois.jpg" alt="Perceuse">
                </div>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                </p>
              </div>

              <div class="box-lesson">
                <div class="box-lesson__title">
                  <h4>Changer un interrupteur ou une prise murale</h4>
                  <h5 class="category-tag">catégorie</h5>
                </div>
                <div class="box-lesson__img">
                  <img class="image-lesson" src="../Images/Photos/Perceuse à bois.jpg" alt="Perceuse">
                </div>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                </p>
              </div>

              <div class="box-lesson">
                <div class="box-lesson__title">
                  <h4>Changer un interrupteur ou une prise murale</h4>
                  <h5 class="category-tag">catégorie</h5>
                </div>
                <div class="box-lesson__img">
                  <img class="image-lesson" src="../Images/Photos/Perceuse à bois.jpg" alt="Perceuse">
                </div>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                </p>
              </div>

            </article>
          </div>
        </section>

        <section class="see-more">
          <button class="main-button">Afficher plus</button>
        </section>
      </main>

      <footer>
        <p>© 2025 Skill Fusion. Tous droits réservés.</p>
      </footer>
      
    </div>
  </body>
</html>
